<!-- This is the head of your html, add content here just like you would normally add it to the head. -->


<!-- Meta Data -->
<meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="{{page.keywords}}">

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!--  Social media sharing META Tags -->

    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{page.featured-image_path}}">
    <meta property="og:url" content="{{page.url}}">
    <meta name="twitter:card" content="{{page.description}}">
    <meta name="og:site_name" content="Seven Women"> <!-- ADD SITE NAME HERE -->

    <!-- Required if you want to use social media Analytics --
        <meta property="fb:app_id" content="your_app_id" />
        <meta name="twitter:site" content="@website-username">
    -->
<!-- end of meta tags -->

<!-- Links to CSS Stylesheets  -->

    <!--  External CSS Stylesheets (ie plugins, google fonts, etc) -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />

    <!-- visit http://realfavicongenerator.net to generate favicons for your site and then place them in the /images/favicons folder -->

    <!--  Your CSS Stylesheets (normalise.css, your framework and grid, and your main stylesheet in that order) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.4/gridlex.min.css">
    <link href="/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.4/gridlex.min.css">
    <link href="/css/skeleton.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

<!-- end stylesheets -->

<!-- Google Analytics -->
    <!-- paste your google analytics code here -->
<!-- end google analytics -->
