---
layout: default
---
<section class="container page-fill">
  <div class="rel">
    <div class="box-text">
      <h3>{{page.title}}</h3>
      <p class="price">${{page.price}}</p>
    {{content}}
      <button
      class="snipcart-add-item button"
      data-item-id="{{page.id}}"
      data-item-name="{{page.title}}"
      data-item-price="{{page.price}}"
      data-item-url="{{page.url}}"
      data-item-description="{{page.description}}">
          Buy now
      </button>
    </div>

    <div class="box-img right contain gallery-target" style="background-image:url('{% for pic in page.gallery limit:1 %} {{pic.pic_path}} {% endfor %}')"></div>
  </div>
    <div class="gallerybox">
    {% for pic in page.gallery limit:5 %}
    <div class="gallery-pic contain" data-pic="'{% for pic in page.gallery limit:1 %} {{pic.pic_path}} {% endfor %}" style="background-image:url('{{pic.pic_path}}')"></div>
    {% endfor %}
    </div>
  <div class="grid border-top">
      <hr>
      <div class="col editable">
          <h4>Shipping </h4>
          <p> Under normal circumstances, items are shipped within 1 working day of cleared payment received. Our preferred carrier is Australia Post. Domestic parcels normally reach within 5 working days. Overseas parcels may require upto 10 working days. FLAT AUD 5.00 shipping fee for domestic buyers!!</p>
            <p> Please note: we do not ship products or goods outside of Australia.</p>
      </div>
      <div class="col">
          <h4>Refunds & Returns</h4>
          <p>All products come with a 21 day return guarantee. Any returned item must be received by us within this time. Items must be returned unused, unwashed, in their original condition and packaging with all tags intact. You may either exchange the item or request a full refund. Return postage is at the sender`s expense - should you request replacements for returned items, you will not be charged again for delivery.</p>
      </div>

  </div>
</section>

<!--<section class="mob-hide border-top">-->
<!--  <h3>Popular products</h3>-->
<!--  <div class="grid">-->
<!--  {% for product in site.products limit:4 %}<a class="col-3_sm-12" href="{{product.url}}"><div class="pic contain" style="background-image:url('{{product.image_path}}');">-->
<!--  </div></a>{% endfor %}-->
<!--   </div>-->
<!--</section>-->
